# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# VSCode & JetBrains
.vscode/
.idea/

# Django stuff
db.sqlite3
staticfiles/
media/

# Byte-compiled / compiled
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Backup files
*.bak

# OS files
.DS_Store
Thumbs.db
